.card {
    min-width: 300px;
    min-height: 300px;
    perspective: 500px;
}

.card_inner_image {
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    border: 1px solid black;
    border-radius: 5px;

}

.card:hover .flip_card_inner {
    transform: rotateY(180deg);
}

.flip_card_front,
.flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.flip_card_front {
    color: black;
}

.flip_card_back {
    color: white;
    transform: rotateY(180deg);
}

.repo_button {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    text-decoration: none;
    padding: 8px 20px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 2;
}

.try_it_button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    text-decoration: none;
    padding: 8px 20px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 2;
}

.repo_button:hover,
.try_it_button:hover {
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}

.button_curtain {
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
    color: white;
}

.button_curtain p {
    padding: 10px;
}

/* Breakpoints (Queries) */

/* XS */
@media only screen and (max-width: 575px) {
    .xs_1 {
        width: 21%;
    }

    .xs_2 {
        width: 45%;
    }

    .xs_3 {
        width: 70%;
    }

    .xs_4 {
        width: 95%;
    }
}

/* SM */
@media only screen and (min-width: 576px) {
    .sm_1 {
        width: 21%;
    }

    .sm_2 {
        width: 45%;
    }

    .sm_3 {
        width: 70%;
    }

    .sm_4 {
        width: 95%;
    }
}

/* MD */
@media only screen and (min-width: 768px) {
    .md_1 {
        width: 21%;
    }

    .md_2 {
        width: 45%;
    }

    .md_3 {
        width: 70%;
    }

    .md_4 {
        width: 95%;
    }
}

/* LG */
@media only screen and (min-width: 992px) {
    .lg_1 {
        width: 21%;
    }

    .lg_2 {
        width: 45%;
    }

    .lg_3 {
        width: 70%;
    }

    .lg_4 {
        width: 95%;
    }
}

/* XL */
@media only screen and (min-width: 1200px) {
    .xl_1 {
        width: 21%;
    }

    .xl_2 {
        width: 45%;
    }

    .xl_3 {
        width: 70%;
    }

    .xl_4 {
        width: 95%
    }
}

/* XXL */
@media only screen and (min-width: 1400px) {
    .xxl_1 {
        width: 21%;
    }

    .xxl_2 {
        width: 45%;
    }

    .xxl_3 {
        width: 70%;
    }

    .xxl_4 {
        width: 95%;
    }
}